.header-placeholder {
    height: 78px !important;
}
.back-button {
    display: flex;
    align-items: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.back-button i {
    font-weight: bold;
}

.demo-logo {
    font-size: 1.2rem;
}

.h-78px {
    min-height: 78px;
}

.btn-purple {
    background-color: #2196F3 !important;
    border: 2px solid #2196F3;
}

.btn-outline-primary {
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.specialist-photo-container {
    position: relative;
    width: 100%;
    max-height: 200px;
    overflow: hidden;
}

.specialist-photo {
    object-fit: cover;
    object-position: center top;
    max-height: 300px;
    width: 100%;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 4px 10px;
    margin-right: 8px;
    margin-bottom: 5px;
    min-width: 75px;
}

.stat-value {
    font-size: 14px;
    line-height: 1.3;
    color: #333;
}

.stat-label {
    font-size: 12px;
    line-height: 1.2;
    color: #777;
}

.date-item {
    min-width: 80px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    padding: 2px;
    margin-right: 8px;
    text-align: center;
    transition: all 0.2s;
    position: relative;
}

.date-item.active {
    color: #333;
    border: none;
    position: relative;
    background: white;
}

.date-item.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    padding: 2px;
    background: linear-gradient(75.33deg, #12c2f3, #2281e0);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.date-top {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 2px;
}

.date-bottom {
    font-size: 11px;
    color: #666;
}

.scroll-dates {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    margin-bottom: 15px;
}

.scroll-dates::-webkit-scrollbar {
    display: none;
}

.time-slot {
    border-radius: 4px;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
    background-color: #2196F3;
    color: white;
    border-color: #2196F3;
}

.accordion-button:not(.collapsed) {
    background-color: #f0f0f0;
    color: #333;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: #e9e9e9;
}

.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}

#map {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
}
